<nav class="navbar navbar-expand-lg header-navbar position-sticky top-0 w-100">
    <div class="container-fluid">
        <a class="navbar-brand mystery-quest-regular" href="/">
            <div class="header-logo">
                <span>Sunny Pet Spa Bà Rịa</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center caveat-brush-regular"
            id="navbarSupportedContent">
            <ul class="navbar-nav text-white text-center">
                <li class="nav-item text-white slide-in">
                    <a class="nav-link active" aria-current="page" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item text-white slide-in">
                    <a class="nav-link" href="/abouts">Giới Thiệu</a>
                </li>
                <li class="nav-item text-white slide-in">
                    <a class="nav-link" href="/newis">Tin Tức</a>
                </li>
                <li class="nav-item dropdown slide-in">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Thực Phẩm & Phụ Kiện
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/products">Quầy Thực Phẩm</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/stuffs">Quầy Phụ Kiện</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/medicines">Quầy Chuồng & Vật Dụng</a></li>
                    </ul>
                </li>
            </ul>
            {{#if user}}
            <li class="nav-item dropdown text-white slide-in">
                <a class="nav-link dropdown-toggle header-login-name-right" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Chào {{#each user}} {{this.name}} {{/each}}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/products/productcreate">Đăng Thực Phẩm</a></li>
                    <li><a class="dropdown-item" href="me/stored/products">Chỉnh sửa Thực Phẩm</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/stuffs/stuffcreate">Đăng Phụ Kiện</a></li>
                    <li><a class="dropdown-item" href="/me/stored/stuffs">Chỉnh sửa Phụ Kiện</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/medicines/medicinecreate">Đăng Chuồng & Vật Dụng</a></li>
                    <li><a class="dropdown-item" href="/me/stored/medicines">Chỉnh sửa Chuồng & Vật Dụng</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/newis/newicreate">Đăng Tin Tức</a></li>
                    <li><a class="dropdown-item" href="/me/stored/newis">Chỉnh sửa Tin Tức</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/admin/users">Tài khoản</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/users/logout">Đăng Xuất</a></li>
                </ul>
            </li>
            {{else}}
            <li class="nav-item text-white slide-in">
                <a class="nav-link" href="/users/login">Đăng Nhập</a>
            </li>
            {{/if}}
        </div>
    </div>
</nav>

<!-- Slicer -->
<div class="slicer">
    <picture>
        <source srcset="/img/slicer3.webp" type="image/webp">
        <img srcset="/img/slicer3-320.jpg 320w,
                     /img/slicer3-480.jpg 480w,
                     /img/slicer3-800.jpg 800w,
                     /img/slicer3.jpg 1200w" sizes="(max-width: 320px) 280px,
                                                    (max-width: 480px) 440px,
                                                    (max-width: 800px) 750px,
                                                    1200px" src="/img/slicer3.jpg"
            alt="Dịch vụ cắt tỉa lông chó mèo chuyên nghiệp tại Sunny Pet Spa Bà Rịa" class="img-fluid"
            loading="lazy">
    </picture>
</div>
<div class="slogun">
    <ul class="slogun-content">
        <li class="slogun-text1 slogun-extra1">
            Sunny Pet Spa Baria
        </li>
        <li class="slogun-text2 slogun-extra">
            Đưa Đón Pet Tận Nhà
        </li>
        <li class="slogun-text3 slogun-extra2">
            Liên hệ Danh nha 0933.054.064 - 0907.060.068 (Cẩm Tú)
        </li>
    </ul>
</div>
<!-- End Slicer -->