<!-- Header -->
<div class="mt-4 abouts-sunny-header">
    <h4 class="text-center slogun-extra2">CÙNG SUNNY PET SPA KHÁM PHÁ NHỮNG KHOẢNH KHẮC ĐÁNG YÊU!</h4>
    <h5 class="text-center subheader">Dưới đây là những hình ảnh đáng nhớ mà <span
            class="about-content-text1 slogun-extra2">Sunny Pet Spa Bà Rịa</span> đã lưu giữ lại trong quá trình chăm
        sóc và phục vụ các bé thú cưng cùng quý khách hàng thân yêu. Mỗi bức ảnh không chỉ là khoảnh khắc đẹp mà còn
        là minh chứng cho sự tận tâm và tình yêu thương mà chúng tôi dành cho các bé.</h5>
</div>

<!-- Gallery -->
<div class="custom-gallery">
    <div class="mt-4">
        <div class="abouts-custom-image-row first-row">
            <a href="/img/about1.webp" data-lightbox="gallery" data-title="Cắt lông chó">
                <img src="/img/about1.webp" alt="cắt lông chó">
            </a>
            <a href="/img/about2.webp" data-lightbox="gallery" data-title="Tỉa lông chó">
                <img src="/img/about2.webp" alt="tỉa lông chó">
            </a>
            <a href="/img/about3.webp" data-lightbox="gallery" data-title="Chăm sóc thú cưng">
                <img src="/img/about3.webp" alt="chăm sóc thú cưng">
            </a>
            <a href="/img/about4.webp" data-lightbox="gallery" data-title="Khách sạn cho thú cưng">
                <img src="/img/about4.webp" alt="khách sạn cho thú cưng">
            </a>
            <a href="/img/about5.webp" data-lightbox="gallery" data-title="Gửi chó ngày Tết">
                <img src="/img/about5.webp" alt="gửi chó ngày Tết">
            </a>
            <a href="/img/about6.webp" data-lightbox="gallery" data-title="Gửi mèo ngày Tết">
                <img src="/img/about6.webp" alt="gửi mèo ngày Tết">
            </a>
            <a href="/img/about7.webp" data-lightbox="gallery" data-title="Nhuộm lông thú cưng">
                <img src="/img/about7.webp" alt="nhuộm lông thú cưng">
            </a>
            <a href="/img/about8.webp" data-lightbox="gallery" data-title="Grooming pet spa">
                <img src="/img/about8.webp" alt="grooming pet spa">
            </a>
            <a href="/img/about9.webp" data-lightbox="gallery" data-title="Vệ sinh thú cưng">
                <img src="/img/about9.webp" alt="vệ sinh thú cưng">
            </a>
            <a href="/img/about10.webp" data-lightbox="gallery" data-title="pet spa Phước Tỉnh">
                <img src="/img/about10.webp" alt="tắm cho Poodle">
            </a>
        </div>
    </div>
    <div class="mt-4">
        <div class="abouts-custom-image-row second-row">
            <a href="/img/about11.webp" data-lightbox="gallery" data-title="Spa thú cưng">
                <img src="/img/about11.webp" alt="spa thú cưng">
            </a>
            <a href="/img/about12.webp" data-lightbox="gallery" data-title="Cắt tỉa lông thú cưng">
                <img src="/img/about12.webp" alt="cắt tỉa lông thú cưng">
            </a>
            <a href="/img/about13.webp" data-lightbox="gallery" data-title="Chăm sóc chó mèo">
                <img src="/img/about13.webp" alt="chăm sóc chó mèo">
            </a>
            <a href="/img/about14.webp" data-lightbox="gallery" data-title="Dịch vụ thú cưng">
                <img src="/img/about14.webp" alt="dịch vụ thú cưng">
            </a>
            <a href="/img/about15.webp" data-lightbox="gallery" data-title="Spa thú cưng Bà Rịa">
                <img src="/img/about15.webp" alt="spa thú cưng Bà Rịa">
            </a>
            <a href="/img/about16.webp" data-lightbox="gallery" data-title="Gửi chó mèo">
                <img src="/img/about16.webp" alt="gửi chó mèo">
            </a>
            <a href="/img/about17.webp" data-lightbox="gallery" data-title="Làm đẹp thú cưng">
                <img src="/img/about17.webp" alt="làm đẹp thú cưng">
            </a>
            <a href="/img/about18.webp" data-lightbox="gallery" data-title="pet spa long hải">
                <img src="/img/about18.webp" alt="gửi chó mèo">
            </a>
            <a href="/img/about19.webp" data-lightbox="gallery" data-title="Hotel thú cưng">
                <img src="/img/about19.webp" alt="hotel thú cưng">
            </a>
            <a href="/img/about20.webp" data-lightbox="gallery" data-title="Pet spa Bà Rịa">
                <img src="/img/about20.webp" alt="pet spa Bà Rịa">
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll('.abouts-custom-image-row img');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('fade-in');
                    observer.unobserve(entry.target);
                }
            });
        }, {
            threshold: 0.1
        });

        images.forEach(image => {
            observer.observe(image);
        });
    });
</script>