

<!-- Services-->
    <div id="contact" class="promotion-header background-animation row">
        <div class="col-12">
            <span class="slogun-extra2">CÁC DỊCH VỤ</span> 
        </div>
    </div>
    <div class="mt-4">
        <div class="mt-4">
    <div class="row row-eq-height d-none d-md-flex"> 
        <!--<div class="col-md-4 col-12 custom-image-container"> 
            <img src="/img/Service1.webp" class="custom-img-fluid" alt="Image 1"> 
        </div> 
        -->
        <div class="col-md-4 col-12 custom-image-container"> 
            <img src="/img/Service2.webp" class="custom-img-fluid" alt="giá dịch vụ cắt tỉa lông thú cưng"> 
        </div> 
        <div class="col-md-4 col-12 custom-image-container"> 
            <img src="/img/Service3.webp" class="custom-img-fluid" alt="giá gửi thú cưng"> 
        </div> 
    </div> 


<!-- Thêm phần này cho chế độ mobile -->
<style>
  /* Tùy chỉnh mũi tên */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền */
    border-radius: 50%; /* Bo tròn */
    padding: 10px; /* Kích thước */
    color: #f3f705; /* Màu mũi tên */
    width: 40px; /* Chiều rộng */
    height: 40px; /* Chiều cao */
    background-size: 50% 50%; /* Kích thước icon */
    border: 2px solid #ffffff; /* Viền */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Bóng đổ */
    transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi */
  }

  /* Hiệu ứng hover */
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgba(255, 0, 0, 0.8); /* Màu nền khi hover */
    color: #ffffff; /* Màu mũi tên khi hover */
  }
</style>

<div id="customCarouselNoTouching" class="carousel slide mt-4 d-block d-md-none" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/Service2.webp" class="d-block w-100" alt="giá dịch vụ cắt tỉa lông thú cưng">
    </div>
    <div class="carousel-item">
      <img src="/img/Service3.webp" class="d-block w-100" alt="giá gửi thú cưng">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#customCarouselNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#customCarouselNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Thêm thư viện Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
 
    </div>
    
</div>
<!-- End Services -->

<!-- Product - Stuff - Medicine -->
<div class="mt-4">
    <div id="contact" class="promotion-header background-animation row">
        <div class="col-12">
            <span class="slogun-extra2">QUẦY TẠP HÓA THÚ CƯNG</span> 
        </div>
    </div>
</div>
<div class="body-container1">
    <div class="box">
   <div class="imgBx">
    <a href="/products">
        <img src="/img/home-product1.webp">
    </a>
   </div>
   <div class="content slogun-extra2">
     <h2>QUẦY THỰC PHẨM<br><span>Thức ăn hạt - Xúc xích - ...</span></h2>
   </div>
 </div>
 
 <div class="box">
   <div class="imgBx">
    <a href="/stuffs">
        <img src="/img/home-product2.webp">
    </a>
   </div>
   <div class="content slogun-extra2">
     <h2>QUẦY PHỤ KIỆN<br><span>Chuồng - Quần áo - Trang trí - ...</span></h2>
   </div>
 </div>
 
 <div class="box">
   <div class="imgBx">
    <a href="/medicines">
        <img src="/img/home-product3.webp" alt="STAR-WARS-The-Skywalker">
    </a>  
   </div>
   <div class="content slogun-extra2">
     <h2>QUẦY CHUỒNG & VẬT DỤNG<br><span>Chuồng - Cát Vệ Sinh- Dầu Tắm Gội</span></h2>
   </div>
 </div>
</div>

<!-- End Product - Stuff - Medicine -->

<!-- Images Area -->
<div id="contact" class="promotion-header background-animation row">
    <div class="col-12">
        <span class="slogun-extra2">THAM QUAN SHOP NHA</span> 
    </div>
</div>
<div class="mt-4">

<div id="wrapper">
    <ul id="index_cards">
        <li id="card-1">
            <span class="text-center">Chứng Nhận Kỹ Thuật <br> Grooming Xuất Sắc</span>
            <img src="/img/bangcap1.webp" height="290" width="200" alt="Toucan" />
            
        </li>
        <li id="card-2">
            <span class="text-center">Chứng Nhận Kỹ Thuật <br> Grooming Xuất Sắc</span>
            <img src="/img/bangcap2.webp" height="290" width="200" alt="Fox" />
            
        </li>
        <li id="card-3">
            <span class="text-center">Chứng Chỉ Grooming <br> Đảm Bảo Chất Lượng Dịch Vụ</span>
            <img src="/img/bangcap3.webp" height="200" width="200" alt="Dog" />
            
        </li>
        <li id="card-4">
            <span class="text-center">Chứng Chỉ Grooming <br> Đảm Bảo Chất Lượng Dịch Vụ</span>
            <img src="/img/bangcap4.webp" height="290" width="200" alt="Penguin" />
            
        </li>
        <li id="card-5">
            <span class="text-center">Bé Cún Sunny</span>
            <img src="/img/becunsunny.webp" height="290" width="200" alt="Lion" />
            
        </li>
    </ul>
</div>
<!-- Images Area -->
<!--about-->
<div id="contact" class="promotion-header background-animation row">
    <div class="col-12">
        <span class="slogun-extra2">MỘT CHÚT THÔNG TIN VỀ SUNNY PET SPA BÀ RỊA</span> 
    </div>
</div>
<div class="about-space body-margin row">
    <div class="col-lg-4 col-md-6 col-12 d-flex">
        <div class="about flex-fill">
            <div class="about-header slogun-extra2">Chào Mừng Bạn Đến Với Sunny Pet Spa Bà Rịa!</div>
            <div class="about-content">
                Tại <span class="about-intro-extra slogun-extra2">Sunny Pet Spa Bà Rịa</span>, chúng tôi hiểu rằng thú cưng không chỉ là vật nuôi mà còn là những thành viên gia đình đáng yêu và quan trọng. Với tình yêu thương dành cho các bé, chúng tôi tự hào mang đến những dịch vụ chăm sóc thú cưng <span class="about-intro-extra">chuyên nghiệp, tận tâm và chất lượng cao</span> tại Bà Rịa.
                <br>
                <span class="about-intro-extra1 slogun-extra2">Dịch Vụ Nổi Bật Tại Sunny Pet Spa Bà Rịa</span>
                <br>
                <ul>
                    <li><span class="about-intro-extra slogun-extra2">Tắm rửa & Chăm sóc da lông</span>: Sử dụng sản phẩm an toàn, phù hợp với từng loại da và lông của thú cưng.</li>
                    <li><span class="about-intro-extra slogun-extra2">Cắt tỉa lông nghệ thuật</span>: Tạo kiểu đẹp mắt, phù hợp với cá tính của bé yêu.</li>
                    <li><span class="about-intro-extra slogun-extra2">Nhuộm lông an toàn</span>: Làm nổi bật vẻ đẹp độc đáo của thú cưng với màu sắc tươi sáng và bền lâu.</li>
                    <li><span class="about-intro-extra slogun-extra2">Cung cấp thức ăn & phụ kiện cao cấp</span>: Đảm bảo dinh dưỡng và phong cách cho bé yêu của bạn.</li>
                </ul>
                <br>
                <span class="about-intro-extra1 slogun-extra2">Vì Sao Chọn Sunny Pet Spa Bà Rịa?</span>
                <ul>
                    <li><span class="about-intro-extra slogun-extra2">Đội ngũ chuyên nghiệp</span>: Luôn được đào tạo và cập nhật xu hướng chăm sóc thú cưng mới nhất.</li>
                    <li><span class="about-intro-extra slogun-extra2">Cơ sở vật chất hiện đại</span>: Không gian sạch sẽ, thoáng mát, đảm bảo an toàn và thoải mái cho thú cưng.</li>
                    <li><span class="about-intro-extra slogun-extra2">Cam kết chất lượng</span>: Mọi dịch vụ đều hướng đến sự hài lòng tối đa của khách hàng và sức khỏe của thú cưng.</li>
                </ul>
                <br>
                <span>Chúng tôi luôn lắng nghe và trân trọng mọi ý kiến đóng góp từ quý khách hàng để không ngừng hoàn thiện và nâng cao chất lượng dịch vụ. Hãy để <span class="about-intro-extra">Sunny Pet Spa Bà Rịa</span> trở thành người bạn đồng hành đáng tin cậy trong hành trình chăm sóc và yêu thương thú cưng của bạn!</span>
                <br>
                <span class="about-intro-extra1 slogun-extra2">Liên hệ ngay với chúng tôi để đặt lịch hẹn và trải nghiệm dịch vụ tốt nhất!</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 d-flex">                   
        <div class="about flex-fill">
            <div class="about-header slogun-extra2">DỊCH VỤ ĐƯA ĐÓN PET TẬN NHÀ</div>
            <div class="about-content">
                <br>
                Tại <span class="about-content-text1 slogun-extra2">Sunny Pet Spa Bà Rịa</span>, chúng tôi hiểu rằng quỹ thời gian của bạn là vô cùng quý giá. Vì vậy, chúng tôi cung cấp dịch vụ <span class="about-content-text1">đưa đón thú cưng tận nhà</span> để giúp bạn tiết kiệm thời gian và mang lại sự tiện lợi tối đa.
                <br>
                <span class="about-intro-extra1 slogun-extra2">Quy Trình Đưa Đón Pet Tận Nhà</span>
                <br>
                <span class="about-content-text1 slogun-extra2">1. Liên hệ đặt lịch: </span>Bạn chỉ cần gọi điện hoặc nhắn tin qua Zalo để thông báo thời gian đón pet.
                <br>
                <span class="about-content-text1 slogun-extra2">2. Đón pet tận nhà: </span>Đội ngũ của chúng tôi sẽ đến tận nơi để đón bé yêu của bạn một cách an toàn và chu đáo.
                <br>
                <span class="about-content-text1 slogun-extra2">3. Chăm sóc chuyên nghiệp: </span>Pet sẽ được chăm sóc theo đúng yêu cầu của bạn tại spa.
                <br>
                <span class="about-content-text1 slogun-extra2">4. Trả pet tận tay: </span>Sau khi hoàn thành dịch vụ, chúng tôi sẽ liên hệ để hẹn giờ và đưa bé yêu trở về tận tay bạn.
                <br>
                <span class="about-intro-extra1 slogun-extra2">Lợi Ích Khi Sử Dụng Dịch Vụ Đưa Đón</span>
                <br>
                <ul>
                    <li><span class="about-content-text1 slogun-extra2">Tiết kiệm thời gian: </span>Bạn không cần di chuyển, mọi việc đã có Sunny Pet Spa lo.</li>
                    <li><span class="about-content-text1 slogun-extra2">An toàn và đáng tin cậy: </span>Đội ngũ nhân viên chuyên nghiệp, phương tiện vận chuyển đảm bảo an toàn.</li>
                    <li><span class="about-content-text1 slogun-extra2">Tiện lợi tối đa: </span>Dịch vụ phù hợp với những người bận rộn, không có thời gian đưa đón pet.</li>
                </ul>
                
                Hãy để <span class="about-content-text1 slogun-extra2">Sunny Pet Spa</span> chăm sóc bé yêu của bạn một cách trọn vẹn nhất, từ việc đón rước đến dịch vụ spa chuyên nghiệp. <span class="about-content-text1 slogun-extra2">Liên hệ 0933.054.064 (Danh Trần)</span> ngay để đặt lịch và trải nghiệm dịch vụ đưa đón tận nhà ngay hôm nay!
                
                
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 d-flex">
        <div class="about flex-fill">
            <div class="about-header slogun-extra2">LIÊN HỆ</div>
            <div class="about-content">
                <span>Chủ thú cưng</span>
                <span class="about-content-color slogun-extra2">có thể đến trực tiếp shop Sunny Pet Spa</span>
                <span>hoặc liên hệ qua thông tin bên dưới để được hỗ trợ</span>
                <span class="about-content-color slogun-extra2">đón và trả pet tận nhà</span>
                <span>một cách nhanh chóng và tiện lợi.</span>
                <div class="about-separate">
                    <img src="/img/logo-finger1.png" alt="">
                </div>
                <div class="about-content-infor">
                    <span>Địa chỉ:</span>
                    645 CMT8, Phường Long Toàn, Tp. Bà Rịa, tỉnh BR-VT.
                </div>
                <div class="about-content-infor">
                    <span>Hotline 1:</span>
                    0933.054.064 (Danh Trần)
                </div>
                <div class="about-content-infor">
                    <span>Hotline 2:</span>
                    0907.060.068 (Cẩm Tú)
                </div>
                <div class="about-content-infor">
                    <span>Zalo 1:</span>
                    0933.054.064 (Danh Trần)
                </div>
                <div class="about-content-infor">
                    <span>Zalo 2:</span>
                    0907.060.068 (Cẩm Tú)
                </div>
                <div class="about-separate">
                    <img src="/img/logo-finger1.png" alt="">
                </div>
                <div class="about-content-infor ">
                    <span>Website:</span>
                    <a href="Https://www.sunnypetspabaria.vn">
                        <span class="social-color slogun-extra2">
                        Https://www.sunnypetspabaria.vn
                        </span>
                    </a>
                </div>
                <div class="about-content-infor">
                    <span>Facebook:</span>
                    <a href="Https://www.facebook.com/SunnyPetSpa">
                        <span class="social-color slogun-extra2">
                            Https://www.facebook.com/SunnyPetSpa
                        </span>
                    </a>
                </div>
                <div class="about-content-infor">
                    <span>Tiktok:</span>
                    <a href="https://www.tiktok.com/@sunnypetspabaria?lang=vi-VN">
                        [sunnypetspabaria] hoặc 
                        <span class="social-color slogun-extra2">
                            [https://www.tiktok.com/@sunnypetspabaria?lang=vi-VN]</a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /////////////////// -->

